/LABs/LAB_rpc/gRPCExampleServer/target/
/LABs/LAB_rpc/gRPCExampleSimpleClient/target/
/MOVIES-SOAP-DB/2019-07-ok_nostro/Client/target/
/BOOKS-GRPC-SOAP/gRPCExampleServer/target/
/BOOKS-GRPC-SOAP/gRPCExampleSimpleClient/target/
/BOOKS-GRPC-SOAP/gRPC_Server/target/
/BOOKS-GRPC-SOAP/gRPC_Client/target/
/BOOKS-GRPC-SOAP/SoapService/target/
/BOOKS-GRPC-SOAP/wareHouse_Soap/target/
/BOOKS-GRPC-SOAP/books_gRPC_Server/target/
/BOOKS-GRPC-SOAP/DBManager/target/
/BOOKS-GRPC-SOAP-DB/DBManager/target/
/BOOKS-GRPC-SOAP-DB/books_gRPC_Server/target/
/BOOKS-GRPC-SOAP-DB/gRPC_Client/target/
/BOOKS-GRPC-SOAP-DB/wareHouse_Soap/target/
/june2021/DBSimpleManager/target/
/june2021/gRPCExampleServer/target/
/june2021/gRPCExampleSimpleClient/target/
/june2021/SOAP-WebService/target/
/BOOKS-GRPC-Tizio/Esame2021_gRPC_client_only/target/
/BOOKS-GRPC-Tizio/Esame2021_gRPC_server_only/target/